<template lang="pug">
  v-app
    v-app-bar(app)
      v-toolbar-title #[v-icon mdi-hook] Hooker
    v-main
      v-container(fluid)
        v-row
          v-spacer
          v-col(cols="12" sm="12" xs="12" md="12" lg="6" xl="6")
            v-card(:loading="loading" :disabled="loading")
              v-card-title Credentials
              v-card-text
                v-row
                  v-col(cols="12" sm="12" xs="12" md="12" lg="6" xl="6")
                    v-text-field(
                      v-model="apiUsr"
                      outlined
                      label="Username"
                      :value="apiUsr"
                      :rules="[value => !!value || 'Required.']"
                      :success="authed === true"
                      :error="authed === false"
                      clearable
                    )
                  v-col(cols="12" sm="12" xs="12" md="12" lg="6" xl="6")
                    v-text-field(
                      v-model="apiPwd"
                      outlined
                      label="Password"
                      :value="apiPwd"
                      type="password"
                      :rules="[value => !!value || 'Required.']"
                      :success="authed === true"
                      :error="authed === false"
                      clearable
                    )
                v-card-actions
                  v-spacer
                  v-btn(color="green" @click="saveCreds()") #[v-icon mdi-folder-download] Save Login
                  v-btn(color="blue" @click="loadCreds()") #[v-icon mdi-folder-upload] Load Login
          v-spacer
        v-spacer
        v-row
          v-spacer
          v-col(cols="12" sm="12" xs="12" md="12" lg="10" xl="10")
              v-card(:loading="loading")
                v-card-title #[v-icon mdi-webhook] Hooks
                  v-spacer
                  span
                    v-dialog(v-model="dialogCreate" max-width="500px")
                      template(#activator="{ on, attrs }")
                        v-btn(color="green" v-bind="attrs" v-on="on") #[v-icon mdi-plus-box] New Hook
                      v-card
                        v-card-title #[v-icon mdi-plus-box] New Hook
                        v-card-text
                          v-text-field(
                            v-model="newItem.description"
                            prepend-icon="mdi-text-subject"
                            label="Description"
                            :value="newItem.description"
                            :rules="[value => !!value || 'Required.']"
                          )
                          v-text-field(
                            v-model="newItem.gitlab_token"
                            prepend-icon="mdi-gitlab"
                            label="GitLab Token"
                            :value="newItem.gitlab_token"
                            :rules="[value => !!value || 'Required.']"
                          )
                          v-text-field(
                            v-model="newItem.discord_url"
                            prepend-icon="mdi-discord"
                            label="Discord URL"
                            :value="newItem.discord_url"
                            :rules="[value => !!value || 'Required.']"
                          )
                        v-card-actions
                          v-spacer
                          v-btn(
                            :loading="loading"
                            :color="createSuccess === true ? 'green' : (createSuccess === false ? 'red' : 'blue')"
                            @click="create()"
                          ) #[v-icon mdi-content-save] Save
                    v-btn(
                      :loading="loading"
                      :color="success === true ? 'green' : (success === false ? 'red' : 'blue')"
                      @click="get()"
                    ) #[v-icon mdi-database-refresh] Load Hooks
                v-card-text
                  v-data-table(
                    :headers="headers"
                    :items="hooks"
                    :search="search"
                    sort-by="created_at"
                    :sort-desc="true"
                    show-expand
                  )
                    template(#top)
                      v-text-field(v-model="search" label="Search")
                    template(#item.actions="{item}")
                      v-btn(icon color="red" @click="destroy(item)")
                        v-icon mdi-delete
                    template(#expanded-item="{headers, item}")
                      td(:colspan="Math.floor(headers.length / 3)")
                        v-row
                          v-col
                            v-icon mdi-webhook
                            | Hooker URL: #[a(:href="item.getHook()") {{ item.id }}]
                      td(:colspan="Math.floor(headers.length / 3)")
                        v-row
                          v-col
                            v-icon mdi-gitlab
                            | GitLab Token: {{ item.getToken() }}
                      td(:colspan="Math.floor(headers.length / 3)")
                        v-row
                          v-col
                            v-icon mdi-discord
                            | Discord URL: #[a(:href="item.getDiscordUrl()") {{ item.discord_url }}]
          v-spacer
    v-footer(padless flat)
      v-card.text-center(flat tile width="100%")
        v-card-text "{{ quote.text }}" -{{ quote.author }}
</template>

<script lang="ts">
import Vue from 'vue'
import Quoter from '../assets/holo'
import { HookerAPI, HookItem, HookItemIFace } from '../rest/api'

let success!: Boolean
let createSuccess!: Boolean
let authed!: Boolean
const hooks: HookItem[] = []

export default Vue.extend({
  data: () => ({
    loading: false,
    dialogCreate: false,
    dialogDelete: false,
    apiUsr: '',
    apiPwd: '',
    success,
    authed,
    hooks,
    search: '',
    newItem: {
      description: '',
      gitlab_token: '',
      discord_url: ''
    },
    createSuccess,
    quote: Quoter.pullRandom()
  }),

  computed: {
    headers () {
      return [
        {
          text: 'ID',
          align: 'start',
          sortable: false,
          value: 'id'
        },
        {
          text: 'Description',
          value: 'description'
        },
        {
          text: 'GitLab Token',
          value: 'gitlab_token'
        },
        {
          text: 'Discord URL',
          value: 'discord_url'
        },
        {
          text: 'Created At',
          value: 'created_at'
        },
        {
          text: 'Actions',
          value: 'actions',
          sortable: false
        },
        {
          text: '',
          value: 'data-table-expand'
        }
      ]
    }
  },

  methods: {
    async get () {
      const api = new HookerAPI(this.apiUsr, this.apiPwd)
      this.loading = true
      const resp = await api.get()
      this.authed = resp.status !== 401
      this.success = resp.ok
      if (resp.ok) {
        const data = await resp.json()
        const items: HookItem[] = []
        data.forEach((itemProto: HookItemIFace) => {
          const item = new HookItem(itemProto)
          items.push(item)
        })
        this.hooks = items
        this.regenQuote()
      }
      this.loading = false
    },
    async create () {
      if (this.newItem.description && this.newItem.gitlab_token && this.newItem.discord_url) {
        const api = new HookerAPI(this.apiUsr, this.apiPwd)
        this.loading = true
        const resp = await api.create(
          this.newItem.description,
          this.newItem.gitlab_token,
          this.newItem.discord_url
        )
        this.createSuccess = resp.ok
        this.authed = resp.status !== 401
        if (resp.ok) {
          this.dialogCreate = false
          this.newItem.description = ''
          this.newItem.gitlab_token = ''
          this.newItem.discord_url = ''
        }
        await this.get()
        this.loading = false
      } else {
        this.createSuccess = false
      }
    },
    async destroy (item: HookItem) {
      if (item.id) {
        const api = new HookerAPI(this.apiUsr, this.apiPwd)
        this.loading = true
        await api.delete(item.id)
        await this.get()
        this.loading = false
      }
    },
    saveCreds () {
      HookerAPI.saveCreds(this.apiUsr, this.apiPwd)
    },
    loadCreds () {
      const creds = HookerAPI.loadCreds()
      this.apiUsr = creds.usr
      this.apiPwd = creds.pwd
    },
    regenQuote () {
      this.quote = Quoter.pullRandom()
    }
  }
})
</script>

<style>
</style>
